<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的课程</title>
<link href="/stylesheets/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="my-courses">
  	<div class="my-courses-bg">
  	<div class="personal-information">
        <div class="personal-information-wrap">
            <img src="/img/my-course_03.png" /><br /><span>aabcce2014@guoshi.com</span>
        </div>
    </div>
    <div class="matter-prompt">
        <div class="matter-prompt-wrap">
        <h4>待办事项</h4>
        <h5>没有可显示的项目</h5>
        </div>
    </div>
    <div class="module-title">
   	  <div class="module1"><h3>380</h3>系统通知</div>
   	  <div class="module2"><h3>934</h3>待办事项</div>
   	  <div class="module3"><h3>48</h3>留言</div>
    </div>
    <div class="content">
    	<ul>
        	<li><a href="#">神秘莫测的古墓究竟有着怎样的存在</a><span></span></li>
            <li><a href="#">犯罪心理档案&nbsp;第2季</a><span></span></li>
            <li><a href="#">英雄联盟之王者</a><span></span></li>
            <li><a href="#">我所理解的生活</a><span></span></li>
            <li><a href="#">就这么漂来漂去</a> <span></span></li>
            <li><a href="#">1988：我想和这个世界谈谈</a><span></span></li>
            <li><a href="#">我所理解的生活：30岁韩寒自我剖析</a><span></span></li>
        </ul>
    </div>
  </div>
</div>
</body>
</html>