.mycourse_con {float:left; width:100%; margin-top:30px;}
	.mycourse_con ul {margin:auto; width:85%; background:#ebebeb; padding:20px;}
	.mycourse_con p {line-height:40px; font-size:15px;}
	.mycourse_con p.fb {font-weight:bold;}
	.mycourse_con p.c1 {text-align:center; color:#ff8400;}
	.mycourse_con p img {float:left; width:90px; height:90px; border:#FFFFFF solid 3px; margin-right:15px;}
	.mycourse_con p.l25 {line-height:25px; font-size:11pt;}
	.mycourse_con p.l45 {line-height:50px; font-size:15px;}
	.homework_con {float:left; width:100%; margin:30px 0;}
.homework_con.m0 {margin:0;}
	.homework_con.m30 {margin:0 0 30px 0;}
	.homework_con ul {margin:auto; width:90%;}
	.homework_con ul.p30 {padding:0 0 30px 0;}
	.homework_con ul.b6 {border-bottom:#ebebeb solid 6px; padding-bottom:30px;}
	.homework_con li {float:left; width:100%; line-height:35px; font-size:13px;}
	.homework_con li.p50 {padding-bottom:30px;}
	.homework_con p {line-height:40px; font-size:12pt; padding:10px 0;}
	.homework_con p.center {text-align:center;}
	.homework_con p.bg {background:#ebebeb; padding:5px 0;}
	.homework_con p span {padding-left:15px;}
	.homework_con p.p0 {padding:10px 0 0 0;}
	.homework_con .fenshu {width:20%; height:20px; border:#CCCCCC solid 1px; padding:10px; line-height:30px; font-size:12pt; color:#666666;}
	.homework_con .input {width:95%; height:300px; border:#CCCCCC solid 1px; padding:10px; line-height:36px; font-size:12pt; color:#666666;}
	.homework_con .inputh50 {width:95%; height:50px; border:#CCCCCC solid 1px; padding:10px; line-height:36px; font-size:12pt; color:#666666;}
	.homework_con .input_web {width:95%; border:#CCCCCC solid 1px; padding:10px; line-height:36px; font-size:12pt; color:#666666; height:40px;}
/*hfy*/
	.homework_con .uphomework {background:#ff8400;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; width:100%; height:35px; font-size:12pt; color:#FFFFFF; text-align:center; cursor:pointer; margin:0;    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border: 1px solid #cc5100;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0);}
	.app-mar{width:100%;}
	.homework_con2{width:90%;margin:auto;}
	.homework_con2 .con2_title{width:100%; padding:10px 0;float:left; font-size:15px; color:#666;}
	.homework_con2 .con2_text{width:100%;margin-bottom:20px; height:160px; float:left;}
	.homework_con2 .uphomework {background:#ff8400;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; width:100%; height:35px; font-size:12pt; color:#FFFFFF; text-align:center; cursor:pointer; margin:auto;    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border: 1px solid #cc5100;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0);}
/*hfy end*/
	.homework_con .p10 {padding-left:10px;}
.homework_teach {float:left; width:100%; background:#f7f7f7; margin:30px 0; font-size:15px; line-height:36px; text-align:center;}
	
.mycourse {width:90%; margin:auto;}
	.mycourse ul {float:left; width:100%; padding:30px 0;}
	.mycourse ul.p0 {margin:30px 0 0 0; padding:0; background:#ebebeb; font-size:12pt; color:#ff8400; font-weight:bold; line-height:60px; text-align:center;}
	.mycourse li {float:left; width:100%; border-bottom:#CCCCCC solid 1px; font-size:12pt; line-height:30px; color:#333333; padding:15px 0;}
	.mycourse li a {color:#333333; text-decoration:none;}
	.mycourse li .left {float:left; width:60%;}
	.mycourse li .right {float:right; width:40%; text-align:right; color:#999999;}
	.mycourse li .uphomework {background:#ff8400;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; width:90px; height:35px; font-size:12pt; color:#FFFFFF; text-align:center; cursor:pointer; border:#ffffff solid 1px; margin:0;}
	.mycourse .l40 {line-height:40px; font-size:12pt;}
.left{float: left;}
/*hfy*/
ul,ol{ list-style:none;}
.right{float: right;padding-right:40px;}
a:link,a:visited{color:#666;}
/*hfy end*/
.app-content .con3_title{width:100%; float:left; margin-top:10px; font-size:15px; color:#666;}
.app-content .con3_text{margin:20px 0; width:100%;}
.app-list .app-button .app-button-left{width:90%;}
.homework_con2 .t_mar{margin-top:20px;}
.homework_con2 .t_mar p{font-size:13px; color:#999;}
.app-banner{background:none; position:relative;}
.banner-text{position:absolute; color:#ffff00; font-size:18px; font-weight:bold; left:10px; top:10px;}
.banner-text2{position:absolute; color:#ffff00; font-size:18px; font-weight:bold; left:80px; top:40px;}
.app-content .uphomework{background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) repeat scroll 0 0 #ff8400;
    border: 1px solid #cc5100;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    cursor: pointer;
    font-size: 12pt;
    height: 35px;
    margin: 0;
    text-align: center;
    width: 100%;}
.app-content .but_mar{margin:auto; width:90%;}

/*hfy*/
footer{
	position:fixed;bottom:0;z-index:2100;width: 100%;height:3em;
	background-color: #ccc;color: #fff;
}
.courseBtn,.operationBtn,.achievementBtn,.messBtn,.inforBtn{
	float:left;
	width:20%;
	height:2.5em;
	text-align:center;
	font-size:13px;
	color: #fff;
}
.icon{
		display:block;height:25px;cursor:pointer;
		margin-left: 50%;
}
.courseBtn{

}
.courseBtn .icon{

	background:url(../img/icon_05.gif) 0 0 no-repeat; 
}
.operationBtn{

}
.operationBtn .icon{
	background:url(../img/icon_07.gif) 0 0 no-repeat; 
}
.achievementBtn{

}
.achievementBtn .icon{
	background:url(../img/icon_09.gif) 0 0 no-repeat; 
}
.messBtn{

}
.messBtn .icon{
	background:url(../img/icon_11.gif) 0 0 no-repeat; 
}
.inforBtn{

}
.inforBtn .icon{
	background:url(../img/icon_13.gif) 0 0 no-repeat; 
}

/*
.app-home{float:left;width:16%;height:44px; text-align:center;font-size:13px;}
.home-icon{ 
margin:auto;width:25px; height:24px; background:url(../img/icon_03.gif) 0 0 no-repeat; display:block; cursor:pointer;
}
.home-icon:hover{ margin:auto;width:25px; height:24px; background:url(../img/icon_03.gif) 0 -24px no-repeat; display:block;}
.app-course{float:left;width:16%;height:44px;text-align:center;font-size:13px;}
.course-icon{ margin:auto; width:24px; height:24px; background:url(../img/icon_05.gif) 0 0 no-repeat; display:block; cursor:pointer;}
.course-icon:hover{ margin:auto; width:24px; height:24px; background:url(../img/icon_05.gif) 0 -24px no-repeat; display:block;}
.app-operation{float:left;width:16%;height:44px;text-align:center;font-size:13px;}
.operation-icon{margin:auto; width:24px; height:24px; background:url(../img/icon_07.gif) 0 0 no-repeat; display:block; cursor:pointer;}
.operation-icon:hover{margin:auto; width:24px; height:24px; background:url(../img/icon_07.gif) 0 -24px no-repeat; display:block;}
.app-achievement{float:left;width:16%;height:44px;text-align:center;font-size:13px;}
.achievement-icon{ margin:auto; width:23px; height:24px; background:url(../img/icon_09.gif) 0 0 no-repeat; display:block; cursor:pointer;}
.achievement-icon:hover{ margin:auto; width:23px; height:24px; background:url(../img/icon_09.gif) 0 -24px no-repeat; display:block;}
.app-infor{float:left;width:16%;height:44px;text-align:center;font-size:13px;}
.infor-icon{margin:auto; width:27px; height:24px; background:url(../img/icon_11.gif) 0 0 no-repeat; display:block; cursor:pointer;}
.infor-icon:hover{margin:auto; width:27px; height:24px; background:url(../img/icon_11.gif) 0 -24px no-repeat; display:block;}
.app-per-infor{float:left;width:16%;height:44px;text-align:center;font-size:13px;}
.per-infor-icon{margin:auto; width:24px; height:24px; background:url(../img/icon_13.gif) 0 0 no-repeat; display:block; cursor:pointer;}
.per-infor-icon:hover{margin:auto; width:24px; height:24px; background:url(../img/icon_13.gif) 0 -24px no-repeat; display:block; cursor:pointer;}
*/
/*hfy end*/


